<html>
    <head>

    </head>
    <body>
        <div>
            <p>Logged in as:<b><%= name%></b></p>
            <img src="<%=profilePic%>">
            <a href="/logout">
                <button>Logout</button>
            </a>
            <a href="/reset">
                <button>Reset password</button>
            </a>
        </div>
    </body>
</html>