<html>
    <head>
        <script src="productScript.js"></script>
    </head>
    <body>
        <div>
            <p>Logged in as:<b><%= name%></b></p>
            <img src="<%=profilePic%>">
            <a href="/users/logout">
                <button>Logout</button>
            </a>
            <form action="/users/forgot" method="get">
                <input type="submit" value="Reset password" />
            </form>
            <form action="/cart" method="get">
                <input type="submit" value="My Cart" />
            </form>
            <!-- <button id="cart">Cart</button> -->
        </div>
    </body>
</html>