<html>
    <head>

    </head>
    <body>
        <div>
            <h1>Login </h1>
            <form action="/users/login" method="post">
                <input required name="username" placeholder="Username"/>
                <input required name="password" placeholder="password"/>
                <input type="submit" value="login"/>
            </form>
            <%if(error){%>
                <h1><%=error%></h1>
            <%}%>
            <a href="/users/signup">
                <p>Create an Account</p>
            </a>
            <a href="/">
                <p>Home</p>
            </a>
            <form action="/users/forgot" method="get">
                <input type="submit" value="Reset password" />
            </form>
        </div>
    </body>
</html>