<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
                background-color: #eee9f4;
            }
            ul{
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: rgb(130, 199, 67);
            }
            li {
            float: left;
            }
            h1{
                text-align: center;
            }
            li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            }
            li a:hover {
                background-color:#efef11;
                text-decoration:solid;
                color: black;
            }
        </style>
    </head>
    <body>
    <h1>Welcome Admin</h1>
            <ul>
                <li><a class="active" href="/product">Back</a></li>
                <li><a href="/admin/myprod">My Products</a></li>
                <li><a href="/admin/new">Add Products</a></li>
            </ul>
    </body>
    </html>
